html/*
attic/*
/.project
/.cproject
/.pydevproject
/.externalToolBuilders
/.settings
.directory
.depend
generated*
sysroots
bitbake-logs
/temp
*.o
src/editconf.cgi
src/strconf.cgi
src/unescape

all_sources.lst
excluding.lst
including.lst

doxygen.tag
/image
/scripts
/html